<!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>

  <% if current_user && logged_in? %>
    <form action="<%= session_url %>" method="post">
      <%= csrf_html %>
      <input type="hidden" name="_method" value="delete">
      <button>Log out!</button>
    </form>
  <% else %>
    <nav>
      <a href="<%= new_session_url %>">Login</a>
    </nav>
  <% end %>

<%= yield %>

</body>
</html>
